.header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(58, 58, 210);
    color: white;
    
    .header-pages {
        display: flex;
        gap: 30px;
        align-items: center;
        a {
            color: white;
            text-decoration: none;
        }
    }
}