<app-prova></app-prova>

<div class="card-container">
    <app-banner [title]="dogRace[0].razza" [descrizione]="dogRace[0].descrizione"></app-banner>
    <app-banner [title]="dogRace[0].razza" [descrizione]="dogRace[0].descrizione"></app-banner>
    <app-banner [title]="dogRace[0].razza" [descrizione]="dogRace[0].descrizione"></app-banner>
    <app-banner [title]="dogRace[0].razza" [descrizione]="dogRace[0].descrizione"></app-banner>
    <app-banner [title]="dogRace[0].razza" [descrizione]="dogRace[0].descrizione"></app-banner>
    <app-banner [title]="dogRace[0].razza" [descrizione]="dogRace[0].descrizione"></app-banner>
    <app-banner [title]="dogRace[0].razza" [descrizione]="dogRace[0].descrizione"></app-banner>
    <app-banner [title]="dogRace[0].razza" [descrizione]="dogRace[0].descrizione"></app-banner>
</div>